.displayItemsMainContainer {
  height: 100%;
  width: 100%;
  padding: 7px;
}

.productsLoaderContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productsLoader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #295f98 #295f98 transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.productsLoader::after,
.productsLoader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #9b7ebd #9b7ebd;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

.productsLoader::before {
  width: 32px;
  height: 32px;
  border-color: #295f98 #295f98 transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.displayProductsContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  overflow-y: auto;
  flex-wrap: wrap;
  gap: 10px;
}

.displayProductsCard {
  height: 25%;
  width: 20%;
  border: 2px solid #9b7ebd;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.displayProductsCard:hover {
  height: 27%;
  width: 22%;
  border: 2px solid #295f98;
  background-color: black;
}

.displayProductsImg {
  height: 70%;
  width: 60%;
  border-radius: 20px;
}

.displayProductsHeading {
  font-size: 16px;
  font-weight: 400;
}

.displayMenuCategoryModalContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContentContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 1280px;
}

.closeIconButton {
  align-self: flex-end;
  margin-right: 60px;
  background-color: black;
}

/* Extra Small Mobile Devices (Portrait) */
/* iPhone SE, older Android phones */
@media only screen and (max-width: 320px) {
  .displayProductsCard {
    height: 35%;
    width: 85%;
  }

  .displayProductsCard:hover {
    height: 37%;
    width: 47%;
  }
}

/* Small Mobile Devices (Portrait) */
/* iPhone 6/7/8, Galaxy S8 */
@media only screen and (min-width: 321px) and (max-width: 375px) {
  .displayProductsCard {
    height: 35%;
    width: 85%;
  }

  .displayProductsCard:hover {
    height: 37%;
    width: 87%;
  }
}

/* Medium Mobile Devices (Portrait) */
/* iPhone 11 Pro, Google Pixel 2 */
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .displayProductsCard {
    height: 35%;
    width: 85%;
  }

  .displayProductsCard:hover {
    height: 37%;
    width: 87%;
  }
}

/* Large Mobile Devices (Portrait) */
/* iPhone 11 Pro Max, Galaxy Note */
@media only screen and (min-width: 426px) and (max-width: 480px) {
  .displayProductsCard {
    height: 30%;
    width: 85%;
  }

  .displayProductsCard:hover {
    height: 31%;
    width: 90%;
  }
}

/* Tablets (portrait and landscape) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .displayProductsCard {
    height: 35%;
    width: 28%;
  }

  .displayProductsCard:hover {
    height: 37%;
    width: 30%;
  }
}

/* Styles for smaller desktops */
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .displayProductsCard {
    height: 26%;
    width: 26%;
  }

  .displayProductsCard:hover {
    height: 30%;
    width: 30%;
  }
}

/* Standard desktops and larger laptops (1281px to 1600px) */
@media only screen and (min-width: 1281px) and (max-width: 1600px) {
  .displayProductsCard {
    height: 27%;
    width: 25%;
  }

  .displayProductsCard:hover {
    height: 30%;
    width: 30%;
  }

  .displayProductsHeading {
    font-size: 20px;
  }
}

/* Ultra-wide screens (2560px and above) */
@media only screen and (min-width: 2560px) {
  .displayProductsCard {
    height: 20%;
    width: 25%;
  }

  .displayProductsCard:hover {
    height: 30%;
    width: 30%;
  }

  .displayProductsHeading {
    font-size: 30px;
  }
}
