.landingMainContainer {
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.landingProductsContainer {
  min-height: 70vh;
  height: auto;
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landingBannerContainer {
  height: 45vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  background-color: rgba(204, 204, 204, 0.1);
  border-bottom-left-radius: 50% 25%; /* Horizontal and vertical radii */
  border-bottom-right-radius: 50% 25%;
}

.landingCarouselMainContainer {
  height: 60%;
  width: 100%;
}

.landingCarouselImg {
  height: 100%;
  width: 100%;
  background-size: cover;
  border: 0;
}

.scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #295f98; /* Bright red for visibility */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 9999; /* High z-index to ensure visibility */
  opacity: 1;
  visibility: visible;
}

.menuNavContainer {
  min-height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 10px;
  gap: 50px;
  margin: 47px 0px;
}

.menuNavImg {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.menuNavItem {
  text-decoration: none;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.menuSearchBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  height: 10vh;
  width: 100%;
}

.menuSearchBar {
  height: 70%;
  width: 80%;
  max-width: 1280px;
  border: 3px solid #9b7ebd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  gap: 25px;
}

.searchInput {
  width: 75%;
  height: 65%;
  padding: 10px 20px;
  border: 0;
  border-radius: 20px;
  background-color: #222a35;
  color: white;
  font-size: 16px;
}

.searchInput::placeholder {
  color: #9b7ebd;
}

.searchBarClearBtn {
  height: 55%;
  width: 13%;
  background-color: transparent;
  border: 4px solid #222a35;
  border-radius: 30px;
  cursor: pointer;
  font-size: 12px;
}

.searchBarClearBtn:hover {
  border: 4px solid #9b7ebd;
}

.brandingContainer {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.landingLogo {
  border: 2px solid #9b7ebd;
  border-radius: 50%;
  padding: 7px;
  height: 70px;
  width: 70px;
}

.landingBrand {
  font-size: 22px;
  color: #e5ad78;
  font-weight: 400 !important;
  text-decoration: none;
  cursor: pointer;
}

.landingFiltersContainer {
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landingFiltersSubContainer {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.landingFiltersCheckBoxContainer {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landingFiltersCheckBoxHeading {
  font-size: 12px;
}

.landingFiltersSwitchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  height: 100%;
  width: 40%;
}

.landingFiltersSwitchSubContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.landingFiltersSwitchLabel {
  font-size: 12px;
}

.footerContainer {
  height: 60vh;
  width: 100%;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #1a1a2e, #0b0c10);
}

.customDivider {
  border-color: white;
  width: 100%;
}

.copyRightsHeading {
  font-size: 18px;
  text-align: center;
  margin: 20px 0;
}

/* Extra Small Mobile Devices (Portrait) */
/* iPhone SE, older Android phones */
@media only screen and (max-width: 320px) {
  .landingBannerContainer {
    height: 45vh;
  }

  .landingLogo {
    border: 3px solid #9b7ebd;
    height: 50px;
    width: 50px;
  }

  .landingBrand {
    font-size: 16px;
  }

  .brandingContainer {
    height: 40%;
  }

  .menuNavItem {
    font-size: 12px;
    gap: 20px;
  }

  .menuNavImg {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }

  .menuNavContainer {
    padding: 0 10px;
    gap: 35px;
    margin: 67px 0px;
  }

  .menuSearchBar {
    height: 80%;
    width: 90%;
    border: 4px solid #9b7ebd;
    border-radius: 100px;
    gap: 10px;
  }

  .menuSearchBarContainer {
    height: 15vh;
  }

  .searchInput {
    width: 70%;
    height: 65%;
    border-radius: 100px;
    font-size: 12px;
  }

  .searchBarClearBtn {
    height: 55%;
    width: 19%;
    border: 3px solid #222a35;
    border-radius: 50px;
    font-size: 10px;
  }

  .landingFiltersSubContainer {
    padding: 0 10px;
    width: 90%;
  }

  .landingFiltersCheckBoxContainer {
    width: 50%;
  }

  .landingFiltersSwitchContainer {
    width: 50%;
  }

  .landingFiltersCheckBoxHeading {
    font-size: 10px;
  }

  .landingFiltersSwitchLabel {
    font-size: 10px;
  }

  .footerContainer {
    height: 100vh;
  }

  .copyRightsHeading {
    font-size: 14px;
  }
}

/* Small Mobile Devices (Portrait) */
/* iPhone 6/7/8, Galaxy S8 */
@media only screen and (min-width: 321px) and (max-width: 375px) {
  .landingBannerContainer {
    height: 45vh;
  }

  .landingLogo {
    border: 3px solid #9b7ebd;
    height: 60px;
    width: 60px;
  }

  .landingBrand {
    font-size: 18px;
  }

  .brandingContainer {
    height: 40%;
  }

  .menuNavItem {
    font-size: 13px;
    gap: 20px;
  }

  .menuNavImg {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  .menuNavContainer {
    padding: 0 10px;
    gap: 35px;
    margin: 67px 0px;
  }

  .menuSearchBar {
    height: 80%;
    width: 90%;
    border: 4px solid #9b7ebd;
    border-radius: 100px;
    gap: 10px;
  }

  .menuSearchBarContainer {
    height: 15vh;
  }

  .searchInput {
    width: 75%;
    height: 65%;
    border-radius: 100px;
    font-size: 14px;
  }

  .searchBarClearBtn {
    height: 55%;
    width: 15%;
    border: 3px solid #222a35;
    border-radius: 50px;
    font-size: 11px;
  }

  .landingFiltersSubContainer {
    padding: 0 10px;
    width: 90%;
  }

  .landingFiltersCheckBoxContainer {
    width: 50%;
  }

  .landingFiltersSwitchContainer {
    width: 50%;
  }

  .landingFiltersCheckBoxHeading {
    font-size: 10px;
  }

  .landingFiltersSwitchLabel {
    font-size: 10px;
  }

  .footerContainer {
    height: 100vh;
  }

  .copyRightsHeading {
    font-size: 14px;
  }
}

/* Medium Mobile Devices (Portrait) */
/* iPhone 11 Pro, Google Pixel 2 */
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .landingBannerContainer {
    height: 45vh;
  }

  .landingLogo {
    border: 3px solid #9b7ebd;
    height: 60px;
    width: 60px;
  }

  .landingBrand {
    font-size: 18px;
  }

  .brandingContainer {
    height: 40%;
  }

  .menuNavItem {
    font-size: 13px;
    gap: 20px;
  }

  .menuNavImg {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  .menuNavContainer {
    padding: 0 10px;
    gap: 35px;
    margin: 67px 0px;
  }

  .menuSearchBar {
    height: 80%;
    width: 90%;
    border: 4px solid #9b7ebd;
    border-radius: 100px;
    gap: 10px;
  }

  .menuSearchBarContainer {
    height: 15vh;
  }

  .searchInput {
    width: 75%;
    height: 65%;
    border-radius: 100px;
    font-size: 14px;
  }

  .searchBarClearBtn {
    height: 55%;
    width: 15%;
    border: 3px solid #222a35;
    border-radius: 50px;
    font-size: 11px;
  }

  .landingFiltersSubContainer {
    padding: 0 10px;
    width: 90%;
  }

  .landingFiltersCheckBoxContainer {
    width: 50%;
  }

  .landingFiltersSwitchContainer {
    width: 50%;
  }

  .landingFiltersCheckBoxHeading {
    font-size: 10px;
  }

  .landingFiltersSwitchLabel {
    font-size: 10px;
  }

  .footerContainer {
    height: 100vh;
  }

  .copyRightsHeading {
    font-size: 14px;
  }
}

/* Large Mobile Devices (Portrait) */
/* iPhone 11 Pro Max, Galaxy Note */
@media only screen and (min-width: 426px) and (max-width: 480px) {
  .landingBannerContainer {
    height: 45vh;
  }

  .landingLogo {
    border: 3px solid #9b7ebd;
    height: 60px;
    width: 60px;
  }

  .landingBrand {
    font-size: 18px;
  }

  .brandingContainer {
    height: 40%;
  }

  .menuNavItem {
    font-size: 13px;
    gap: 20px;
  }

  .menuNavImg {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  .menuNavContainer {
    padding: 0 10px;
    gap: 35px;
    margin: 67px 0px;
  }

  .menuSearchBar {
    height: 80%;
    width: 90%;
    border: 4px solid #9b7ebd;
    border-radius: 100px;
    gap: 10px;
  }

  .menuSearchBarContainer {
    height: 15vh;
  }

  .searchInput {
    width: 75%;
    height: 65%;
    border-radius: 100px;
    font-size: 14px;
  }

  .searchBarClearBtn {
    height: 55%;
    width: 15%;
    border: 3px solid #222a35;
    border-radius: 50px;
    font-size: 11px;
  }

  .landingFiltersSubContainer {
    padding: 0 10px;
    width: 90%;
  }

  .landingFiltersCheckBoxContainer {
    width: 50%;
  }

  .landingFiltersSwitchContainer {
    width: 50%;
  }

  .landingFiltersCheckBoxHeading {
    font-size: 10px;
  }

  .landingFiltersSwitchLabel {
    font-size: 10px;
  }

  .footerContainer {
    height: 100vh;
  }

  .copyRightsHeading {
    font-size: 14px;
  }
}

/* Tablets (portrait and landscape) */
@media (min-width: 769px) and (max-width: 1024px) {
  .landingBannerContainer {
    height: 45vh;
  }

  .landingLogo {
    border: 3px solid #9b7ebd;
    height: 70px;
    width: 70px;
  }

  .landingBrand {
    font-size: 22px;
  }

  .brandingContainer {
    height: 40%;
  }

  .menuNavItem {
    font-size: 16px;
    gap: 20px;
  }

  .menuNavImg {
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }

  .menuNavContainer {
    padding: 0 10px;
    gap: 50px;
    margin: 67px 0px;
  }

  .menuSearchBar {
    height: 80%;
    width: 80%;
    border: 4px solid #9b7ebd;
    border-radius: 100px;
  }

  .searchInput {
    width: 80%;
    height: 65%;
    border-radius: 100px;
    font-size: 18px;
  }

  .searchBarClearBtn {
    height: 55%;
    width: 10%;
    border: 3px solid #222a35;
    border-radius: 50px;
    font-size: 11px;
  }

  .landingFiltersCheckBoxHeading {
    font-size: 12px;
  }

  .landingFiltersSwitchLabel {
    font-size: 12px;
  }
}

/* Styles for smaller desktops */
@media (min-width: 1024px) and (max-width: 1280px) {
  .landingBannerContainer {
    height: 45vh;
  }

  .landingLogo {
    border: 3px solid #9b7ebd;
    height: 70px;
    width: 70px;
  }

  .landingBrand {
    font-size: 22px;
  }

  .brandingContainer {
    height: 40%;
  }

  .menuNavItem {
    font-size: 16px;
    gap: 20px;
  }

  .menuNavImg {
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }

  .menuNavContainer {
    padding: 0 10px;
    gap: 50px;
    margin: 67px 0px;
  }

  .menuSearchBar {
    height: 80%;
    width: 80%;
    border: 4px solid #9b7ebd;
    border-radius: 100px;
  }

  .searchInput {
    width: 85%;
    height: 65%;
    border-radius: 100px;
    font-size: 18px;
  }

  .searchBarClearBtn {
    height: 55%;
    width: 10%;
    border: 3px solid #222a35;
    border-radius: 50px;
    font-size: 13px;
  }

  .landingFiltersCheckBoxHeading {
    font-size: 14px;
  }

  .landingFiltersSwitchLabel {
    font-size: 14px;
  }
}

/* Standard desktops and larger laptops (1281px to 1600px) */
@media (min-width: 1281px) and (max-width: 1600px) {
  .landingBannerContainer {
    height: 40vh;
  }

  .landingLogo {
    border: 3px solid #9b7ebd;
    height: 90px;
    width: 90px;
  }

  .landingBrand {
    font-size: 24px;
  }

  .brandingContainer {
    height: 40%;
  }

  .menuNavItem {
    font-size: 18px;
    gap: 20px;
  }

  .menuNavImg {
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }

  .menuNavContainer {
    padding: 0 10px;
    gap: 70px;
    margin: 67px 0px;
  }

  .menuSearchBar {
    height: 80%;
    width: 80%;
    border: 4px solid #9b7ebd;
    border-radius: 100px;
  }

  .searchInput {
    width: 85%;
    height: 65%;
    border-radius: 100px;
    font-size: 18px;
  }

  .searchBarClearBtn {
    height: 55%;
    width: 10%;
    border: 3px solid #222a35;
    border-radius: 50px;
    font-size: 15px;
  }

  .landingFiltersCheckBoxHeading {
    font-size: 16px;
  }

  .landingFiltersSwitchLabel {
    font-size: 16px;
  }
}

/* Ultra-wide screens (2560px and above) */
@media (min-width: 2560px) {
  .landingBannerContainer {
    height: 50vh;
  }

  .landingLogo {
    border: 5px solid #9b7ebd;
    height: 150px;
    width: 150px;
  }

  .landingBrand {
    font-size: 42px;
  }

  .brandingContainer {
    height: 40%;
  }

  .menuNavItem {
    font-size: 26px;
    gap: 20px;
  }

  .menuNavImg {
    height: 120px;
    width: 120px;
    border-radius: 50%;
  }

  .menuNavContainer {
    padding: 0 10px;
    gap: 70px;
    margin: 67px 0px;
  }

  .menuSearchBar {
    height: 80%;
    width: 80%;
    border: 4px solid #9b7ebd;
    border-radius: 100px;
  }

  .searchInput {
    width: 85%;
    height: 65%;
    border-radius: 100px;
    font-size: 29px;
  }

  .searchBarClearBtn {
    height: 55%;
    width: 10%;
    border: 5px solid #222a35;
    border-radius: 50px;
    font-size: 27px;
  }

  .landingFiltersCheckBoxHeading {
    font-size: 25px;
  }

  .landingFiltersSwitchLabel {
    font-size: 25px;
  }
}
