.productsMainContainer {
  height: 85%;
  width: 97%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background-color: #090917;
  border: 0px;
  border-radius: 20px;
}

.productsCategoryHeading {
  font-size: 25px;
  letter-spacing: 1.5px;
}

.productsCard {
  height: 40%;
  width: 31%;
  border: 2px solid #295f98;
  border-radius: 20px;
  list-style-type: none;
}

.productStylesContiner {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  overflow-y: auto;
  gap: 20px 7px;
  padding: 10px;
}

.productsCardImg {
  height: 80%;
  width: 45%;
  border: 0px;
  border-radius: 20px;
}

.productsCardContainerOne {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 57%;
  width: 100%;
  gap: 10px;
  padding: 0px 5px;
}

.productsTitle {
  font-size: 14px;
  font-weight: 500;
}

.productsCardContainerOneSubOne {
  width: 48%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 7px;
}

.productsCardContainerTwo {
  padding: 7px 5px;
  height: 40%;
  width: 100%;
}

.productsDesc {
  font-size: 12px;
  font-weight: 500;
  text-align: left;
}

.isVegImg {
  font-size: 12px;
  font-weight: 500;
}

.productsLandingMainContainer {
  min-height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background-color: #090917;
  margin: 40px 0px;
  max-width: 1280px;
}

.productsLandingCard {
  height: 155px;
  width: 32%;
  border: 3px solid #295f98;
  border-radius: 20px;
  list-style-type: none;
}

.productsLandingCardDesc {
  height: 290px;
  width: 32%;
  border: 3px solid #295f98;
  border-radius: 20px;
  list-style-type: none;
}

.productLandingStylesContiner {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 20px 2%;
  padding: 10px;
}

.productsLandingCardImg {
  height: 70%;
  width: 40%;
  border: 0px;
  border-radius: 20px;
}

.productsLandingCardContainerOne {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 100%;
  gap: 10px;
  padding: 0px 7px;
}

.productsLandingCardContainerOneDesc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 55%;
  width: 100%;
  gap: 10px;
  padding: 0px 7px;
}

.productsLandingTitle {
  font-size: 14px;
  letter-spacing: 1.5px;
  font-weight: 500;
}

.productsLandingCardContainerOneSubOne {
  width: 48%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 7px;
}

.productsLandingCardContainerTwo {
  padding: 5px 5px;
  height: 40%;
  width: 100%;
}

.productsLandingDesc {
  padding: 5px;
  font-size: 11px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 1.3px;
}

.isVegImgLanding {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.5px;
}

/* Extra Small Mobile Devices (Portrait) */
/* iPhone SE, older Android phones */
@media only screen and (max-width: 320px) {
  .productLandingStylesContiner {
    justify-content: center;
    gap: 20px;
  }

  .productsLandingMainContainer {
    margin: 100px 0px;
    gap: 40px;
  }

  .productsLandingCard {
    height: 200px;
    width: 90%;
    border: 3px solid #295f98;
    border-radius: 40px;
  }

  .productsLandingCardDesc {
    height: 330px;
    width: 90%;
    border: 3px solid #295f98;
    border-radius: 40px;
  }

  .productLandingStylesContiner {
    gap: 40px 2.57%;
  }

  .productsCategoryHeading {
    font-size: 22px;
  }

  .productsLandingTitle {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.3px;
  }

  .productsLandingDesc {
    padding: 8px;
    font-size: 12px;
    letter-spacing: 1.1px;
  }

  .isVegImgLanding {
    font-size: 13px;
    font-weight: 500;
  }
}

/* Small Mobile Devices (Portrait) */
/* iPhone 6/7/8, Galaxy S8 */
@media only screen and (min-width: 321px) and (max-width: 375px) {
  .productLandingStylesContiner {
    justify-content: center;
    gap: 20px;
  }

  .productsLandingMainContainer {
    margin: 100px 0px;
    gap: 40px;
  }

  .productsLandingCard {
    height: 200px;
    width: 80%;
    border: 3px solid #295f98;
    border-radius: 40px;
  }

  .productsLandingCardDesc {
    height: 330px;
    width: 80%;
    border: 3px solid #295f98;
    border-radius: 40px;
  }

  .productLandingStylesContiner {
    gap: 40px 2.57%;
  }

  .productsCategoryHeading {
    font-size: 22px;
  }

  .productsLandingTitle {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.3px;
  }

  .productsLandingDesc {
    padding: 8px;
    font-size: 12px;
    letter-spacing: 1.1px;
  }

  .isVegImgLanding {
    font-size: 13px;
    font-weight: 500;
  }
}

/* Medium Mobile Devices (Portrait) */
/* iPhone 11 Pro, Google Pixel 2 */
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .productLandingStylesContiner {
    justify-content: center;
    gap: 20px;
  }

  .productsLandingMainContainer {
    margin: 100px 0px;
    gap: 40px;
  }

  .productsLandingCard {
    height: 200px;
    width: 80%;
    border: 3px solid #295f98;
    border-radius: 40px;
  }

  .productsLandingCardDesc {
    height: 330px;
    width: 80%;
    border: 3px solid #295f98;
    border-radius: 40px;
  }

  .productLandingStylesContiner {
    gap: 40px 2.57%;
  }

  .productsCategoryHeading {
    font-size: 22px;
  }

  .productsLandingTitle {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.3px;
  }

  .productsLandingDesc {
    padding: 8px;
    font-size: 14px;
    letter-spacing: 1.1px;
  }

  .isVegImgLanding {
    font-size: 14px;
    font-weight: 500;
  }
}

/* Large Mobile Devices (Portrait) */
/* iPhone 11 Pro Max, Galaxy Note */
@media only screen and (min-width: 426px) and (max-width: 480px) {
  .productLandingStylesContiner {
    justify-content: center;
    gap: 20px;
  }

  .productsLandingMainContainer {
    margin: 100px 0px;
    gap: 40px;
  }

  .productsLandingCard {
    height: 200px;
    width: 80%;
    border: 3px solid #295f98;
    border-radius: 40px;
  }

  .productsLandingCardDesc {
    height: 330px;
    width: 80%;
    border: 3px solid #295f98;
    border-radius: 40px;
  }

  .productLandingStylesContiner {
    gap: 40px 2.57%;
  }

  .productsCategoryHeading {
    font-size: 22px;
  }

  .productsLandingTitle {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.3px;
  }

  .productsLandingDesc {
    padding: 8px;
    font-size: 14px;
    letter-spacing: 1.1px;
  }

  .isVegImgLanding {
    font-size: 14px;
    font-weight: 500;
  }
}

/* Tablets (portrait and landscape) */
@media (min-width: 769px) {
  .productsLandingMainContainer {
    margin: 100px 0px;
    gap: 40px;
  }

  .productsLandingCard {
    height: 200px;
    width: 32%;
    border: 3px solid #295f98;
    border-radius: 40px;
  }

  .productsLandingCardDesc {
    height: 330px;
    width: 32%;
    border: 3px solid #295f98;
    border-radius: 40px;
  }

  .productLandingStylesContiner {
    gap: 40px 2%;
  }

  .productsCategoryHeading {
    font-size: 22px;
  }

  .productsLandingTitle {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.3px;
  }

  .productsLandingDesc {
    padding: 8px;
    font-size: 11px;
    letter-spacing: 1.1px;
  }

  .isVegImgLanding {
    font-size: 14px;
    font-weight: 500;
  }
}

/* Styles for smaller desktops */
@media (min-width: 1024px) and (max-width: 1280px) {
  .productsLandingMainContainer {
    margin: 100px 0px;
    gap: 40px;
  }

  .productsLandingCard {
    height: 180px;
    width: 30%;
    border: 3px solid #295f98;
    border-radius: 40px;
  }

  .productsLandingCardDesc {
    height: 300px;
    width: 30%;
    border: 3px solid #295f98;
    border-radius: 40px;
  }

  .productLandingStylesContiner {
    gap: 40px 5%;
  }

  .productsCategoryHeading {
    font-size: 27px;
  }

  .productsLandingTitle {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.3px;
  }

  .productsLandingDesc {
    padding: 12px;
    font-size: 12px;
    letter-spacing: 1.3px;
  }

  .isVegImgLanding {
    font-size: 13px;
    font-weight: 500;
  }
}

/* Standard desktops and larger laptops (1281px to 1600px) */
@media (min-width: 1281px) and (max-width: 1600px) {
  .productsLandingMainContainer {
    margin: 100px 0px;
    gap: 40px;
  }

  .productsLandingCard {
    height: 200px;
    width: 23%;
    border: 3px solid #295f98;
    border-radius: 40px;
  }

  .productsLandingCardDesc {
    height: 300px;
    width: 23%;
    border: 3px solid #295f98;
    border-radius: 40px;
  }

  .productLandingStylesContiner {
    gap: 40px 2.57%;
  }

  .productsCategoryHeading {
    font-size: 27px;
  }

  .productsLandingTitle {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.3px;
  }

  .productsLandingDesc {
    padding: 12px;
    font-size: 13px;
    letter-spacing: 1.3px;
  }

  .isVegImgLanding {
    font-size: 16px;
    font-weight: 500;
  }
}

/* Ultra-wide screens (2560px and above) */
@media (min-width: 2560px) {
  .productsLandingMainContainer {
    margin: 100px 0px;
    gap: 40px;
  }

  .productsLandingCard {
    height: 250px;
    width: 23%;
    border: 5px solid #295f98;
    border-radius: 40px;
  }

  .productsLandingCardDesc {
    height: 420px;
    width: 23%;
    border: 5px solid #295f98;
    border-radius: 40px;
  }

  .productLandingStylesContiner {
    gap: 40px 2.57%;
  }

  .productsCategoryHeading {
    font-size: 45px;
  }

  .productsLandingTitle {
    font-size: 25px;
    font-weight: 500;
  }

  .productsLandingDesc {
    padding: 12px;
    font-size: 22px;
  }

  .isVegImgLanding {
    font-size: 25px;
    font-weight: 500;
  }
}
